.containerExperiences {
	background-color: #0a0a1d;
	min-height: 58vh;
	padding-top: 6em;
}

.container__allExperiences {
	display: flex;
	justify-content: center;
	width: 24em;
	margin: auto;
	min-height: 27vh;
	position: relative;
}

.allExperiences {
	padding-left: 3em;
	position: relative;
	width: 100%;
}

.verticalLine {
	/* min-height: 42vh; */
	min-height: 100%;
	border-left: 1px solid gray;
	position: absolute;
	left: 4em;
}

.horizontalLine {
	min-width: 5em;
	border-bottom: 1px solid whitesmoke;
}

.eachExperience {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	margin: 1.5em 0;
	color: whitesmoke;
	width: 100%;
}

.experience__description {
	background-color: #bbbbbb;
	width: 90%;
	height: 5em;
	text-align: center;
	padding-top: 1em;
	font-size: small;
	/* opacity: 75%; */
	box-shadow: 1px 1px 7px gainsboro;
}

.experience__description span {
	color: black;
}

.experiences__title {
	margin-bottom: 4em;
	padding-right: 35%;
	color: whitesmoke;
	text-align: center;
	font-size: small;
}

.shorterLine .horizontalLine {
	min-width: 2em;
}

@media screen and (max-width: 530px) {
	.container__allExperiences {
		margin: auto;
		width: 17em;
	}

	.containerExperiences {
		min-height: 73vh;
	}

	.experience__description {
		font-size: x-small;
	}
}
