.containerLandingPresentation {
	background-color: red;
	text-align: center;
}

.landingName {
	font-size: 1.8rem;
	padding: 1.3rem 0;
}

.landingCareer {
	font-size: 1.8rem;
}

.landingDescription {
	margin: auto;
	padding: 1.3rem 1.2rem;
}
