.containerSkills {
	min-height: 19vh;
	padding: 1.8em;
	color: aliceblue;
	position: relative;
	background-color: #0a0a1d;
}

.skills__title {
	padding-left: 8em;
	font-size: small;
}

.allSkills {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	padding: 5em;
	width: 55%;
	margin: auto;
}

.skill__containerCircle {
	width: 6em;
	height: 6em;
	margin: 3em;
	text-align: center;
	/* position: relative; */
	display: flex;
	flex-direction: column;
}

.skill__Circle {
	width: 6em;
	height: 6em;
	/* background-color: black; */
	border-radius: 50%;
}

.skill__containerCircle span {
	/* position: absolute;
	top: 39%;
	left: 15%; */
	text-align: center;
	/* width: 4em; */
	margin: 2em 0;
}

.skill__containerCircle img {
	width: 100%;
}

@media screnn and (max-width: 1020px) {
	.allSkills {
		width: 60%;
	}
}
