.containerHeader {
	background-color: #0a0a1d;
	position: sticky;
	top: 0;
	z-index: 1;
}

.header {
	height: 5rem;
	display: flex;
	align-items: center;
}

.headerEmptyLeftSpace {
	display: none;
}

.navBar {
	overflow-y: scroll;
	width: 100%;
	height: 4em;
	display: flex;
	align-items: center;
	padding-right: 2em;
}

.navBar ul {
	display: flex;
	flex-direction: row;
}

.elementInNav {
	white-space: nowrap;
	padding: 0 1.5rem;
}

.elementInNav a {
	text-decoration: none;
	color: whitesmoke;
}

.navBar__numbers {
	color: #d00000;
}

.header__bottomLine {
	border-bottom: 1px solid whitesmoke;
	width: 50%;
	margin: auto;
}

@media screen and (min-width: 608px) {
	.navBar {
		justify-content: flex-end;
		overflow-y: hidden;
	}
}
